#mainImage{
 border:2px solid darkblue;
 width:175;
 height:200;
 float:left;
 margin:20px
 }

/*#mainNav {
 list-style-type:none;
 margin:15px;
 padding:0;
 position:absolute;
 left:220px;
 */
 
#mainNav a {
 color:#000;
 font-size:11px;
 font-weight:bold;
 text-transform:uppercase;
 text-decoration:none;
 border:1px solid #999;
 padding: 7px 30px 7px 30px;
 background-color:#EED0EE;
}

.about_paragraph {
 font-size:17px;
 position:absolute;
 top:150px;
 left:22px;
 right:500px;
}

.website {
 font-size:17px;
 position:relative;
 top:172px;
 left:22px;
}

.website a {
 text-decoration:none;
 font-style:italic;
}

.screenshot_heading {
 position:relative;
 top:215px;
 left:22px;
}

.screenshot {
 width:325;
 height:200;
 position:relative;
 top:215px;
 left:22px;
 border:2px solid black;
}

.screenshot_caption {
 position:relative;
 top:225px;
 left:22px;
}

.gallery_vertical {
 position:relative;
 top:150px;
 left:22px;
 width:150px;
 height:200px;
}

.gallery_horizontal {
 position:relative;
 top:150px;
 left:22px;
 width:250px;
 height:200px;
}

.contact_method {
 position:relative;
 top:130px;
 text-align:center
}