@headerColor: #6699FF;


.header{
	background-color:@headerColor;
	height:150px;
	min-width:980px;
	margin:0px;
	padding:0px;
	z-index:1
}
		#mainNav {
			position:absolute;
			top:100px;
			left:500px;
			z-index:2
		}


#mainImage{
	height:400px;
}



